[Unit]
Description=BI Jobs Service for Bold BI

[Service]
WorkingDirectory=/var/www/bold-services/application/bi/jobs
ExecStart=/var/www/bold-services/dotnet/dotnet /var/www/bold-services/application/bi/jobs/Syncfusion.Server.Jobs.dll --urls=http://localhost:6506
Restart=always
# Restart service after 10 seconds if the dotnet service crashes:
RestartSec=10
KillSignal=SIGINT
SyslogIdentifier=bold-bi-jobs
User=www-data
Environment=ASPNETCORE_ENVIRONMENT=Production
Environment=DOTNET_PRINT_TELEMETRY_MESSAGE=false

[Install]
WantedBy=multi-user.target
