[Unit]
Description=Bold ETL Service for Bold BI

[Service]
WorkingDirectory=/var/www/bold-services/application/etl/etlservice
ExecStart=/var/www/bold-services/dotnet/dotnet /var/www/bold-services/application/etl/etlservice/BoldDataHub.dll --urls=http://localhost:6509
Restart=always
# Restart service after 10 seconds if the dotnet service crashes:
RestartSec=10
KillSignal=SIGINT
SyslogIdentifier=bold-etl
User=www-data
Environment=ASPNETCORE_ENVIRONMENT=Production
Environment=DOTNET_PRINT_TELEMETRY_MESSAGE=false

[Install]
WantedBy=multi-user.target
